@import './variables.scss';

.answer {
    width: 100%;
    height: 2.4rem;
    border:     2px solid $color-text;
    border-radius:      5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $color-text;

    &:hover, &:focus {
        background-color: $color-text;
        color: $color-text-white;
    }
}