@import './variables.scss';

.button {
    margin-top:         1.8rem;
    width:              12.5rem;
    height:             3.25rem;
    border:             none;

    background-color:   $color-button;
    border-radius:      15px;

    color:              $color-button-text;

    cursor:             pointer;
    font-family:        $font-primary;
    font-weight:        $font-medium;
    font-size:          $font-size-normal;

    &--submit {
        position:       absolute;
        left:           2rem;
        bottom:         2rem;
    }

    &:hover {
        background-color: $color-button-over;
    }
}