@import './variables.scss';

.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:   $color-div;
    max-width:          750px;
    position:           relative;
    width:              90%;
    height:             24rem !important;
    min-width:          30rem;
    border-radius:      10px;
    padding:            2rem;

    display:                grid; 
    grid-template-columns:  50% 50%; 
    grid-template-rows:     1fr; 
    gap:                    24px 24px; 
    grid-template-areas:    ". ."; 

    color:                  $color-text;

    &__question-number {
        text-align:     left;
        position:       absolute;
        left:           2rem;
        top:            2rem;
        font-weight:    $font-medium;
        color:          $color-button-alt;

        &__category {
            position:   absolute;
            top:        2.4rem;
            right:      2.6rem;
            text-align: right;
            font-size:  $font-size-normal;
            font-weight: $font-medium;
            color:      $color-button-alt;
        }

        &__emphasize {
            font-size:  $font-size-large;
            color:      $color-button-alt;
            font-weight:$font-light;
        }
    }

    &__question {
        width:              100%;
        height:             100%;
        display:            flex;
        align-items:        start;
        padding-top:        3.8rem;

        h2 {
            user-select:    none;
            color:          $color-text-white;
            text-align:     left;
            font-size:      $font-size-medium;
            line-height:    2rem;
            font-weight:    $font-light;
        }
    }

    &__answer {
        display:            flex;
        flex-direction:     column;
        justify-content:    flex-end;
        gap: 1.5rem;
        padding-right:      2rem;
    }
}

.button-container {
    position:       absolute;
    bottom:         2rem;
    left:           2rem;

    display:        flex;

    gap:            1rem;
}