$color-background:  #1B1C27;
$color-text:        #8F90A7;
$color-text-white:  #FAFAFC;
$color-button:      #AC5CD9;
$color-button-text: #F5F7FB;
$color-button-over: #DEA5E8;
$color-button-down: #6500CD;
$color-button-alt:  #FEDD49;
$color-button-alto: #FEED73;
$color-button-altd: #FFCC00;
$color-div:         #28293D;
$color-red:         #FF3B3B;
$color-green:       #05C270;

$font-light:        100;
$font-normal:       400;
$font-medium:       500;
$font-bold:         700;

$font-primary:      'Karla', sans-serif;

$font-size-normal:  1rem;
$font-size-medium:  1.5rem;
$font-size-large:   2rem;
